# Kafka
bootstrap.servers=pkc-4vndj.australia-southeast1.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username="54HES5EY2XKOFQPW" password="RgLFRTthCOMpYdT8Qn0oAIV8UgNVvK9nb2t/Ph+mVxvReenHrSVS0irYDOKRagb1";
ssl.endpoint.identification.algorithm=https
sasl.mechanism=PLAIN